@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.previews{
	text-align: center;
}
.image_preview{
	max-height: 100%;
	overflow: hidden;
	margin:5px;
}
/*.navbar .brand a{
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}*/
.navbar .brand a:hover {
	text-decoration: none;
	}

.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;
}
.message{
	word-wrap:break-word;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
	.flex-video { padding-top: 0; }
}
.footer {
	text-align: center;
}
h2>img.emoji {
  width:64px;
  height:64px;
}
h3>img.emoji {
  width:48px;
  height:48px;
}
h4>img.emoji {
  width:32px;
  height:32px;
}
img.emoji {
  width:22px;
  height:22px;
}
.icon-reply{background-position:0 -166px;}

/** Osomtalk Rules**/
.room-header {
	padding:5px;
	margin:0px;
	overflow:auto;
}
.room-header h1, .room-header .sharing {
	margin-top:0px;
	margin-bottom:0px;
}
#messages {
	padding:10px;
	margin-top: 1px;
	background: rgba(50,50,50,0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.addthis_toolbox {
	margin-bottom:2px;
	text-align:right;
	width:250px;
	margin-top:7px;
	float:right;
} 
.marketing div {
	background: rgba(50,50,50,0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:20px 20px 40px 20px;
	text-align: center;
}

.marketing div p{
	padding-top: -5px;
	padding-bottom: 10px;
	padding-left: 15px;
	text-align:left;
}
.marketing div h3, .marketing div h4{
	text-align:left;
}

.marketing div h3{
	line-height: 1.0em;
	font-size: 30px;
	padding:0px;
	margin:0px;
}

.header-img{
	margin:13px;
}
.hero-unit {
	text-align: center;
	padding:10px;
}
.hero-unit p {
	line-height: 1.5em;
}

.hero-unit h1 {
	color:#ffffff;
	font-size:50px;
}

.message {
	padding:7px;
	border-bottom:1px solid #555;
}

.message.selected{
	background: rgba(50,50,50,0.3);	
}

.message.selected .info{
	border-left:5px solid #f02475;
	padding-left: 5px;
}
.message .info {
	margin-bottom:7px;
	margin-left: 0px;
	padding-left: 10px;
}
.message .utility{
	text-align: right;
	float: right;
	width: 80px;
	line-height: 2em;
}

.message .text {
	margin: 0px 20px;
}

.message .info .time {
	display:block;
	float:right;
	color:#bbb;
	font-size:10px; 
}
.message.system{
	color:#DDD;
	font-size:10px;
}
.message.system .time {
	display:inline;
	font-style: italic;
}
.message .user {
	font-weight:bold;
}


#users .user {
	padding:5px;
}
#users {
	/*margin:10px;*/
}
.users_container {
	margin-top: 20px;
	padding:0px;
	background: rgba(50,50,50,0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.users_container h3 {
	margin:10px;
	padding:0px;
	line-height: 1em;
}

.declaration {
	font-style: italic;
	font-size: larger;
}

.sub_block {
	margin:10px 0px;
	padding:5px 10px 5px 10px;
	background: rgba(50,50,50,0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.smaller{font-size:50%;}
.founders img{
	margin-right: 10px;
	clear:both;
}
.founders h3{
	margin-top:5px;
	margin-bottom: -5px;
}

.founders{
	min-height: 100px;
}

.founders h3, .founders p{
	margin-left:110px;
}
.contact img {
	clear:both;
}
.contact .span4 {
	height: 100px;
}
.contact h2 {
	margin-top: 10px;
	margin-left:105px;
}
.contact a {
	color:white;
}
#float_utils{
	width:90px;
    position:fixed; /* this is the magic */
    bottom:10px; /* together with this to put the div at the bottom*/
    left:10px;
    display:none;
}

.toggles {
	text-align: center;
	line-height: 2em;
}
.toggles label{
	display:inline-block;
	text-align: right;
	width:87px;
	margin-right:2px;
	font-family: Raleway;
	font-weight: bold;
}
.preview_container {
	text-align: center;
	clear:both;
}
.toggles .group {
	display:inline-block;
}

.preview_container .video_title {
	background: rgba(150,150,150,0.3);
	margin:0px 10px;
	padding: 10px 10px 5px 10px;
}

.preview_container .video_thumbnails {
	display:block;
	background: rgba(100,100,100,0.3);
	padding:7px;
	margin:0px 10px 10px 10px;
}

.replies {
	border-left: 3px solid gray;
	margin-left: 40px;
	padding-left: 10px;	
}
.reply {
	border-bottom: 1px dotted #555;
	clear:both;
	font-size: small;
	padding:3px;
}

.reply-info{
	/*float:right;*/
	text-align: right;
 	font-weight: normal;
	font-style: italic;
	color: #bbb;
	font-size: smaller;
}

.accordion-group, .accordion-inner {
 border:1px solid #333;
}

.accordion-heading .accordion-toggle{
	padding: 3px 3px 3px 10px;
}
.navbar-form .share_label {
	display:inline-block;
	line-height: 5px;
	margin-right:5px;
}
.outlined {
 /*outline: 1px solid red;*/
}
h3.dawrfed {
	margin-top: -20px;
	margin-bottom: 0px;
}