body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	/*background-image: url("/img/bg_2.png");*/
}

.navbar .brand a:hover {
	text-decoration: none;
	}

.footer {
	text-align: center;
}

.marketing div {
	background: rgba(50,50,50,0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:20px 20px 40px 20px;
	text-align: center;
}

.marketing div p{
	padding-top: -5px;
	padding-bottom: 10px;
	padding-left: 15px;
	text-align:left;
}
.marketing div h3, .marketing div h4{
	text-align:left;
}

.marketing div h3{
	line-height: 1.0em;
	font-size: 30px;
	padding:0px;
	margin:0px;
}

.header-img{
	margin:13px;
}
.hero-unit {
	text-align: center;
	padding:10px;
}
.hero-unit p {
	line-height: 1.5em;
}

.hero-unit h1 {
	color:#ffffff;
	font-size:50px;
}

.declaration {
	font-style: italic;
	font-size: larger;
}


.founders img{
	margin-right: 10px;
	clear:both;
}
.founders h3{
	margin-top:5px;
	margin-bottom: -5px;
}

.founders{
	min-height: 100px;
}

.founders h3, .founders p{
	margin-left:110px;
}
.contact img {
	clear:both;
}
.contact .span4 {
	height: 100px;
}
.contact h2 {
	margin-top: 10px;
	margin-left:105px;
}
.contact a {
	color:white;
}
.smaller{font-size:50%;}
h3.dawrfed {
	margin-top: -20px;
	margin-bottom: 0px;
}